<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更のリクエストを受けました。以下のリンクから変更が可能です。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, email: @resource.email, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は無視してください。</p>
<p>上記のリンクにアクセスするまでパスワードは変更されません</p>
