<div class="question_footer">
    <%= link_to(home_question_path(this_question_id: this_question_id, selecting_sta: selecting_sta, ind: ind, position: "question_page", total: total), remote: true) do %>
             <h1>解答を表示</h1>
    <% end %>
</div>